---
import Button from "../Button/Button.astro";
---

<div
  class="flex flex-col pt-30 justify-center text-center lg:text-left lg:flex-row items-center justify-between min-h-screen lg:h-[45rem] 2xl:h-[60rem] px-4 lg:px-20 bg-gradient-to-b from-[#CF3B3B] to-[#791F1F] text-white"
>
  <div class="w-full lg:w-3/5 space-y-2 lg:ml-15">
    <h1 class="text-[48px] lg:text-[72px] 2xl:text-[94px] font-bold">
      Avances en Efectivo
    </h1>
    <h2
      class="text-[32px] lg:text-[46px] 2xl:text-[55px] font-bold lg:mt-[-30px]"
    >
      Al instante y sin complicaciones!
    </h2>
    <p class="text-[20px] lg:text-[18px] 2xl:text-[20px] py-4 lg:py-5">
      Para trabajadores y contratistas latinos en EE.UU. <br />Recibe tu dinero
      en minutos, sin revisar tu crédito, con pagos flexibles y sin sorpresas.
    </p>
    <Button>Solicítalo ahora</Button>
  </div>

  <div class="w-[100%] items-end lg:w-2/5 flex justify-center h-full">
    <img
      src="/images/hero-section.webp"
      alt="Hero Section"
      class="w-full max-w-[600px] h-auto object-contain"
    />
  </div>
</div>
