---
import Button from "../Button/Button.astro";
---

<section
  id="inicio"
  class="relative flex min-h-screen flex-col items-center justify-end bg-gradient-to-b from-[#CF3B3B] to-[#791F1F] px-4 text-white
    md:items-start md:justify-start
    lg:h-[45rem] lg:flex-row lg:items-stretch lg:justify-between lg:px-20
    2xl:h-[60rem]"
>
  <div class="absolute inset-0 w-[90%] h-[100%] left-[10%]">
    <img src="/images/woman.png" alt="Hero Section" class="absolute w-full h-full object-cover object-[0%_0%] z-0 lg:hidden" />
  </div>
  <div class="absolute inset-0 bg-gradient-to-b from-black/0 to-black/60 z-0 lg:hidden"></div>

  <div class="relative z-10 w-full flex flex-col items-start justify-start text-left space-y-4 py-16
    md:w-[50%] md:mt-[5rem] md:ml-[2rem]
    lg:w-3/5 lg:items-start lg:justify-center lg:text-left lg:ml-15"
  >
    <h1 class="text-[48px] font-bold leading-none
      md:text-[60px]
      lg:text-[80px]
      2xl:text-[110px]"
    >Avances en Efectivo</h1>
    <h2 class="text-[32px] font-bold mt-2 leading-none
      lg:text-[40px]
      2xl:text-[55px]"
    >Al instante y sin complicaciones!</h2>
    <p class="text-[16px] py-4
      lg:text-[18px] lg:py-5
      2xl:text-[20px]"
    >
      Para trabajadores y contratistas latinos en EE.UU. <br />Recibe tu dinero en minutos, sin revisar tu crédito, con pagos flexibles y sin sorpresas.
    </p>
    <Button class="mt-4 lg:mt-0">Solicítalo ahora</Button>
  </div>

  <div class="hidden w-[80%] items-end justify-center lg:flex">
    <img
      src="/images/woman.png"
      alt="Hero Section"
      class="w-full h-auto object-contain"
    />
    <div class="absolute inset-0 bg-gradient-to-b from-black/0 to-black/40 z-0"></div>
  </div>
</section>
