<section id="quienes-somos" class:list={[
  "relative flex justify-center px-4 my-8 pb-12",
  "scroll-mt-20 md:scroll-mt-22 lg:scroll-mt-30"
  ]}>
    <!-- card -->
  <div
    class:list={[
      "relative max-w-6xl z-10",
      "p-6 md:py-10 lg:p-10 border-1 border-[#D3D3D3] bg-[#FAFAFA] rounded-2xl shadow-xl",
      "flex flex-col gap-5 lg:gap-18 md:flex-row",
    ]}
  >
    <!-- textual content -->
    <div class="flex-1 flex flex-col justify-center">
      <h2 id="quienes-somos" class="font-bold text-3xl md:text-4xl mb-0 lg:mb-3">
        <span>¿Quienes </span>
        <span class="text-red-600">Somos?</span>
      </h2>
      <p class="mt-4">
        EfectiGo nació de un grupo de amigos latinos que, como tú, <b
          >migraron a EE.UU.</b
        >
        buscando un mejor futuro. Al llegar, se toparon con lo difícil que era acceder
        a dinero sin historial crediticio ni contrato fijo.
      </p>
      <p class="mt-4">
        Por eso creamos <b>una solución para ti:</b> trabajadores independientes,
        contratistas, repartidores, manicuristas, meseros y más —gente que no para,
        pero que el sistema muchas veces ignora.
      </p>
      <p class="mt-4">
        Sabemos lo que es necesitar efectivo urgente y no tener a dónde acudir.
        Por eso, <b
          >con EfectiGo, obtienes un avance rápido, claro y sin complicaciones.</b
        >
      </p>
      <p class="mt-4">
        No estás solo. Aquí <b>hablamos tu idioma</b> y <b>te apoyamos</b> cuando
        más lo necesitas 💛
      </p>
    </div>
    <!-- images -->
    <div class="flex-1 grid grid-cols-2 grid-rows-[0.6fr_0.4fr] gap-4">
      <div class="w-full h-full rounded-2xl">
        <img
          src="/public/images/client1.webp"
          alt="Quienes Somos 1"
          class="w-full h-full object-cover rounded-2xl"
        />
      </div>
      <div class="w-full h-full rounded-2xl row-span-2">
        <img
          src="/public/images/client2.webp"
          alt="Quienes Somos 2"
          class="w-full h-full object-cover rounded-2xl"
        />
      </div>
      <div class="w-full h-full rounded-2xl">
        <img
          src="/public/images/client3.webp"
          alt="Quienes Somos 3"
          class="w-full h-full object-cover rounded-2xl"
        />
      </div>
    </div>
  </div>
  <img src="/public/images/red-line.svg" alt="red line" class="absolute bottom-0 right-0 w-70" />
</section>
