---
import Table from "./Table/Table.astro";
---

<section class="flex flex-col items-center gap-6 px-2 relative pt-35 md:pt-30 lg:pt-20">
  <img src="/public/images/red-line.svg" alt="red line" class="absolute top-0 left-0 w-70 rotate-180 -z-10" />
  <h2 id="quienes-somos" class="font-bold text-3xl md:text-4xl mb-0 lg:mb-3 px-3 lg:max-w-3xl md:text-center">
    <span>¿En qué se </span>
    <span class="text-red-600">diferencia</span>
    <span>EffectiGo de otras opciones?</span>
  </h2>
  <Table />
</section>
