---
import Table from "./Table/Table.astro";
---

<section class="flex flex-col items-center gap-6 px-2">
  <h2 id="quienes-somos" class="font-bold text-2xl md:text-4xl mb-0 lg:mb-3 px-3 lg:max-w-3xl md:text-center">
    <span>¿En qué se </span>
    <span class="text-red-600">diferencia</span>
    <span>EffectiGo de otras opciones?</span>
  </h2>
  <Table />
</section>
