---
import Layout from "../layouts/Layout.astro";
import PorqueElegirnos from "../components/PorqueElegirnos/PorqueElegirnos.astro";
---

<Layout>
  <h2 id="inicio">Inicio</h2>
  <h2 id="quienes-somos">Quienes Somos</h2>
  <h2 id="testimonios">Testimonios</h2>
  <h2 id="contactanos">Contactanos</h2>

  <PorqueElegirnos />
</Layout>
