---
import Layout from "../layouts/Layout.astro"
import QuienesSomos from "../components/QuienesSomos/QuienesSomos.astro"
---

<Layout>
   <h2 id="inicio">Inicio</h2>
   <QuienesSomos />
   <h2 id="testimonios">Testimonios</h2>
   <h2 id="contactanos">Contactanos</h2>
</Layout>