---
import Section from "./Section.astro";
import Media from "./Media.astro";

const telephoneNumber = "+1 347 542 - 9323";
const email = "info@efectiGO.co";
const address = "7950 NW 53RD ST STE 337 MIAMI FL 33166";
---

<footer>
  <div
    class="flex flex-col  gap-15 bg-[#F2F2F2] p-10 border justify-center border-gray-200 lg:gap-18 md:flex-row"
  >
    <div class="flex flex-col gap-1.5 items-start w-48">
      <img src="/images/logo.webp" alt="effectigo-logo" class="h-12" />
      <p class="text-gray-600">La dinero más rápido de todo el oeste 🤠.</p>
    </div>
    <div
      class="flex flex-col gap-10 border-gray-300 md:border-l md:pl-18 lg:gap-15 lg:flex-row"
    >
      <Section>
        <span class="font-bold">Contact Us!</span>
        <p class="flex items-start gap-2">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
            </svg>
          {telephoneNumber}
        </p>
        <p class="flex items-start gap-2">
            <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                <path d="M3 7l9 6l9 -6"></path>
            </svg>
            {email}
        </p>
        <p class="flex items-start gap-2">
            <svg
                width="50"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
            </svg>
            {address}
        </p>
      </Section>
      <Section>
        <span class="font-bold">Company</span>
        <p>About us</p>
        <p>Press</p>
      </Section>
      <Section>
        <span class="font-bold">Support</span>
        <p>Customer Support</p>
        <p>Contact Us</p>
        <p>FAQs</p>
        <Media />
      </Section>
    </div>
  </div>
  <div class="flex justify-center items-center h-10 bg-[#282828] text-gray-300">
    <p class="text-sm">© 2025 EffectiGo. All rights reserved.</p>
  </div>
</footer>
