---
import "../styles/global.css";
import Navbar from "../components/Navbar/Navbar.jsx";
import Footer from "../components/Footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>EfectiGo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html,
  body {
	--background-color: #fff6f6;

    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
	  color: #2A2A2A;

	  font-family: "Montserrat", sans-serif;

    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;

    scroll-behavior: smooth;
  }
</style>
